@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);












#dropdown-menu-5 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-5 .navbar-brand a {
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
}
#dropdown-menu-5 .nav .link,
#dropdown-menu-5 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-5 .navbar,
#dropdown-menu-5 .dropdown-menu {
  background: #3d8eb9;
}
#dropdown-menu-5 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-5 .dropdown-menu a:hover,
#dropdown-menu-5 .dropdown-menu a:focus {
  background: #3882aa;
}
#dropdown-menu-5 .navbar-toggler {
  color: #ffffff;
}
#content5-j .mbr-header .mbr-header__text {
  text-align: center;
  color: #edffbd;
  font-size: 25px;
  font-family: 'PT Sans', sans-serif;
}
#content5-j .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-j .mbr-article {
  color: #fff;
}
#content5-j .mbr-article P {
  color: #efefef;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
#content5-j .mbr-header .mbr-header__text DIV {
  font-size: 25px;
}
#features1-m .mbr-header__subtext {
  text-align: left;
  font-size: 15px;
  color: #2969b0;
}
#features1-m .mbr-section__col .mbr-header__text {
  text-align: left;
  font-size: 14px;
  color: #3d8eb9;
  font-family: 'PT Sans', sans-serif;
}
#features1-m .mbr-section__col .mbr-header__text SPAN {
  font-size: 14px;
}
#features1-m P {
  font-size: 14px;
  text-align: left;
  color: #222222;
}
#features1-m .mbr-section-title .mbr-header__text {
  font-size: 19px;
  color: #c50a00;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}
#features1-m .mbr-header__subtext SPAN {
  color: #000000;
  font-size: 16px;
}
#features1-m .mbr-section-title .mbr-header__text DIV {
  color: #000000;
  text-align: left;
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
}
#msg-box4-5j .mbr-header__text {
  color: #2969b0;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
}
#msg-box4-5j .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-5j .mbr-article {
  color: #000000;
  font-size: 15px;
}
#msg-box4-5j .mbr-article P {
  color: #000000;
  font-size: 16px;
}
#msg-box4-5j .btn {
  font-size: 13px;
}
#msg-box4-5k .mbr-header__text {
  color: #2969b0;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
}
#msg-box4-5k .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-5k .mbr-article {
  color: #000000;
  font-size: 16px;
}
#msg-box4-5k .mbr-article P {
  color: #000000;
  font-size: 14px;
}
#msg-box4-5k .btn {
  font-size: 13px;
}
#msg-box4-5x .mbr-header__text {
  color: #2969b0;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
}
#msg-box4-5x .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-5x .mbr-article {
  color: #ffffff;
}
#msg-box4-5x .mbr-article P {
  color: #000000;
  font-size: 16px;
}
#msg-box4-5x .btn {
  font-size: 13px;
}
#slider2-r H1 {
  font-size: 20px;
}
#header3-q H3 {
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
  color: #c50a00;
}
#header3-q SPAN {
  color: #222222;
  font-size: 16px;
}
#header3-18 H3 {
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
  color: #c50a00;
}
#header3-18 P {
  text-align: left;
  color: #c50a00;
}
#header3-18 SPAN {
  color: #222222;
  font-size: 16px;
}
#features1-8d P {
  color: #000000;
}
#features1-8d B {
  color: #000000;
}
#contacts2-b STRONG {
  color: #000000;
  font-size: 16px;
}
#contacts2-b B {
  color: #000000;
}
#contacts2-b P {
  color: #000000;
  font-size: 16px;
}
#contacts2-b UL {
  font-size: 16px;
}
#msg-box4-7t .mbr-header__text {
  color: #ffffff;
}
#msg-box4-7t .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-7t .mbr-article {
  color: #ffffff;
}
#msg-box4-7t .mbr-article P {
  color: #000000;
  text-align: left;
}
#social-buttons1-p .mbr-header__text {
  font-size: 16px;
}







#features1-1a .mbr-section-title .mbr-header__text {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  color: #c50a00;
}
#features1-1a .mbr-section__col .mbr-header__text {
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
}
#features1-1a .mbr-section__col .mbr-header__text DIV {
  font-size: 13px;
}
#dropdown-menu-z .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-z .navbar-brand a {
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
}
#dropdown-menu-z .nav .link,
#dropdown-menu-z .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-z .navbar,
#dropdown-menu-z .dropdown-menu {
  background: #3d8eb9;
}
#dropdown-menu-z .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-z .dropdown-menu a:hover,
#dropdown-menu-z .dropdown-menu a:focus {
  background: #3882aa;
}
#dropdown-menu-z .navbar-toggler {
  color: #ffffff;
}
#msg-box4-5z .mbr-header__text {
  color: #2969b0;
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
}
#msg-box4-5z .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-5z .mbr-article {
  color: #ffffff;
}
#msg-box4-5z .mbr-article P {
  color: #000000;
  font-size: 17px;
}
#msg-box4-60 .mbr-header__text {
  color: #2969b0;
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
}
#msg-box4-60 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-60 .mbr-article {
  color: #ffffff;
}
#msg-box4-60 .mbr-article P {
  color: #000000;
}
#msg-box4-61 .mbr-header__text {
  color: #2969b0;
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
}
#msg-box4-61 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-61 .mbr-article {
  color: #ffffff;
}
#msg-box4-61 .mbr-article P {
  color: #000000;
}
#features1-15 .mbr-section__col .mbr-header__text {
  text-align: center;
  font-size: 16px;
}
#msg-box2-70 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-70 .mbr-article {
  color: #252525;
}
#msg-box2-70 .btn {
  font-size: 14px;
}
#features1-7u P {
  color: #000000;
}
#features1-7u B {
  color: #000000;
}
#contacts2-16 STRONG {
  color: #000000;
  font-size: 16px;
}
#contacts2-16 B {
  color: #000000;
}
#contacts2-16 P {
  color: #000000;
  font-size: 17px;
}
#contacts2-16 UL {
  font-size: 16px;
}
#social-buttons1-17 .mbr-header__text {
  font-size: 16px;
}



#dropdown-menu-1q .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1q .navbar-brand a {
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
}
#dropdown-menu-1q .nav .link,
#dropdown-menu-1q .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-1q .navbar,
#dropdown-menu-1q .dropdown-menu {
  background: #3d8eb9;
}
#dropdown-menu-1q .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1q .dropdown-menu a:hover,
#dropdown-menu-1q .dropdown-menu a:focus {
  background: #3882aa;
}
#dropdown-menu-1q .navbar-toggler {
  color: #ffffff;
}
#header3-7d H3 {
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  color: #c50a00;
}
#header3-7d P {
  color: #000000;
}
#header3-7d SPAN {
  font-size: 16px;
}
#msg-box2-6y .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-6y .mbr-article {
  color: #252525;
}
#msg-box2-6y .btn {
  font-size: 14px;
}
#features1-8g P {
  color: #000000;
}
#features1-8g B {
  color: #000000;
}
#contacts2-1t STRONG {
  color: #000000;
  font-size: 16px;
}
#contacts2-1t B {
  color: #000000;
}
#contacts2-1t P {
  color: #000000;
  font-size: 17px;
}
#contacts2-1t UL {
  font-size: 16px;
}
#social-buttons1-1u .mbr-header__text {
  font-size: 16px;
}



#dropdown-menu-1v .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1v .navbar-brand a {
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
}
#dropdown-menu-1v .nav .link,
#dropdown-menu-1v .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-1v .navbar,
#dropdown-menu-1v .dropdown-menu {
  background: #3d8eb9;
}
#dropdown-menu-1v .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1v .dropdown-menu a:hover,
#dropdown-menu-1v .dropdown-menu a:focus {
  background: #3882aa;
}
#dropdown-menu-1v .navbar-toggler {
  color: #ffffff;
}
#header3-2o H3 {
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  color: #c50a00;
}
#header3-2o P {
  color: #000000;
  font-size: 16px;
}
#header3-2o SPAN {
  font-size: 16px;
}
#msg-box2-6z .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-6z .mbr-article {
  color: #252525;
}
#msg-box2-6z .btn {
  font-size: 14px;
}
#features1-8h P {
  color: #000000;
}
#features1-8h B {
  color: #000000;
}
#contacts2-1y STRONG {
  color: #000000;
  font-size: 16px;
}
#contacts2-1y B {
  color: #000000;
}
#contacts2-1y P {
  color: #000000;
  font-size: 17px;
}
#contacts2-1y UL {
  font-size: 16px;
}
#social-buttons1-1z .mbr-header__text {
  font-size: 16px;
}



#dropdown-menu-20 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-20 .navbar-brand a {
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
}
#dropdown-menu-20 .nav .link,
#dropdown-menu-20 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-20 .navbar,
#dropdown-menu-20 .dropdown-menu {
  background: #3d8eb9;
}
#dropdown-menu-20 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-20 .dropdown-menu a:hover,
#dropdown-menu-20 .dropdown-menu a:focus {
  background: #3882aa;
}
#dropdown-menu-20 .navbar-toggler {
  color: #ffffff;
}
#header3-2p H3 {
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  color: #c50a00;
}
#header3-2p P {
  color: #000000;
}
#header3-2p SPAN {
  font-size: 16px;
}
#image2-5c SMALL {
  color: #c1c1c1;
}
#image2-5d SMALL {
  color: #c1c1c1;
}
#image2-5e SMALL {
  color: #c1c1c1;
}
#image2-5f SMALL {
  color: #c1c1c1;
}
#msg-box2-74 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-74 .mbr-article {
  color: #252525;
}
#msg-box2-74 .btn {
  font-size: 14px;
}
#features1-8i P {
  color: #000000;
}
#features1-8i B {
  color: #000000;
}
#contacts2-23 STRONG {
  color: #000000;
  font-size: 16px;
}
#contacts2-23 B {
  color: #000000;
}
#contacts2-23 P {
  color: #000000;
  font-size: 17px;
}
#contacts2-23 UL {
  font-size: 16px;
}
#social-buttons1-24 .mbr-header__text {
  font-size: 16px;
}



#dropdown-menu-25 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-25 .navbar-brand a {
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
}
#dropdown-menu-25 .nav .link,
#dropdown-menu-25 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-25 .navbar,
#dropdown-menu-25 .dropdown-menu {
  background: #3d8eb9;
}
#dropdown-menu-25 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-25 .dropdown-menu a:hover,
#dropdown-menu-25 .dropdown-menu a:focus {
  background: #3882aa;
}
#dropdown-menu-25 .navbar-toggler {
  color: #ffffff;
}
#features1-2w .mbr-section-title .mbr-header__text {
  color: #c50a00;
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
}
#content1-2x P {
  font-size: 16px;
  color: #000000;
}
#content5-5m .mbr-header .mbr-header__text {
  text-align: left;
  color: #edffbd;
  font-size: 17px;
}
#content5-5m .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-5m .mbr-article {
  color: #fff;
}
#content5-5m .mbr-article P {
  color: #ffffff;
  font-size: 16px;
  text-align: left;
}
#msg-box2-77 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-77 .mbr-article {
  color: #252525;
}
#msg-box2-77 .btn {
  font-size: 14px;
}
#features1-8l P {
  color: #000000;
}
#features1-8l B {
  color: #000000;
}
#contacts2-28 STRONG {
  color: #000000;
  font-size: 16px;
}
#contacts2-28 B {
  color: #000000;
}
#contacts2-28 P {
  color: #000000;
  font-size: 17px;
}
#contacts2-28 UL {
  font-size: 16px;
}
#social-buttons1-29 .mbr-header__text {
  font-size: 16px;
}



#dropdown-menu-2a .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2a .navbar-brand a {
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
}
#dropdown-menu-2a .nav .link,
#dropdown-menu-2a .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2a .navbar,
#dropdown-menu-2a .dropdown-menu {
  background: #3d8eb9;
}
#dropdown-menu-2a .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2a .dropdown-menu a:hover,
#dropdown-menu-2a .dropdown-menu a:focus {
  background: #3882aa;
}
#dropdown-menu-2a .navbar-toggler {
  color: #ffffff;
}
#header3-2r H3 {
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  color: #c50a00;
}
#header3-2r SPAN {
  color: #000000;
}
#header3-2r P {
  color: #2969b0;
  font-size: 16px;
}
#msg-box2-78 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-78 .mbr-article {
  color: #252525;
}
#msg-box2-78 .btn {
  font-size: 14px;
}
#features1-8m P {
  color: #000000;
}
#features1-8m B {
  color: #000000;
}
#contacts2-2d STRONG {
  color: #000000;
  font-size: 16px;
}
#contacts2-2d B {
  color: #000000;
}
#contacts2-2d P {
  color: #000000;
  font-size: 17px;
}
#contacts2-2d UL {
  font-size: 16px;
}
#social-buttons1-2e .mbr-header__text {
  font-size: 16px;
}



#dropdown-menu-2s .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2s .navbar-brand a {
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
}
#dropdown-menu-2s .nav .link,
#dropdown-menu-2s .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2s .navbar,
#dropdown-menu-2s .dropdown-menu {
  background: #3d8eb9;
}
#dropdown-menu-2s .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2s .dropdown-menu a:hover,
#dropdown-menu-2s .dropdown-menu a:focus {
  background: #3882aa;
}
#dropdown-menu-2s .navbar-toggler {
  color: #ffffff;
}
#header3-2t H3 {
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  color: #c50a00;
}
#header3-2t P {
  color: #000000;
  font-size: 16px;
}
#msg-box2-79 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-79 .mbr-article {
  color: #252525;
}
#msg-box2-79 .btn {
  font-size: 14px;
}
#features1-8n P {
  color: #000000;
}
#features1-8n B {
  color: #000000;
}
#contacts2-2u STRONG {
  color: #000000;
  font-size: 16px;
}
#contacts2-2u B {
  color: #000000;
}
#contacts2-2u P {
  color: #000000;
  font-size: 17px;
}
#contacts2-2u UL {
  font-size: 16px;
}
#social-buttons1-2v .mbr-header__text {
  font-size: 16px;
}



#dropdown-menu-1b .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1b .navbar-brand a {
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
}
#dropdown-menu-1b .nav .link,
#dropdown-menu-1b .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-1b .navbar,
#dropdown-menu-1b .dropdown-menu {
  background: #3d8eb9;
}
#dropdown-menu-1b .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1b .dropdown-menu a:hover,
#dropdown-menu-1b .dropdown-menu a:focus {
  background: #3882aa;
}
#dropdown-menu-1b .navbar-toggler {
  color: #ffffff;
}
#header3-2k H3 {
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  color: #c50a00;
}
#header3-2k SPAN {
  color: #000000;
  font-size: 16px;
}
#header3-2k P {
  color: #000000;
  font-size: 16px;
}
#msg-box2-71 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-71 .mbr-article {
  color: #252525;
}
#msg-box2-71 .btn {
  font-size: 14px;
}
#features1-8e P {
  color: #000000;
}
#features1-8e B {
  color: #000000;
}
#contacts2-1e STRONG {
  color: #000000;
  font-size: 16px;
}
#contacts2-1e B {
  color: #000000;
}
#contacts2-1e P {
  color: #000000;
  font-size: 17px;
}
#contacts2-1e UL {
  font-size: 16px;
}
#social-buttons1-1f .mbr-header__text {
  font-size: 16px;
}



#dropdown-menu-1g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1g .navbar-brand a {
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
}
#dropdown-menu-1g .nav .link,
#dropdown-menu-1g .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-1g .navbar,
#dropdown-menu-1g .dropdown-menu {
  background: #3d8eb9;
}
#dropdown-menu-1g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1g .dropdown-menu a:hover,
#dropdown-menu-1g .dropdown-menu a:focus {
  background: #3882aa;
}
#dropdown-menu-1g .navbar-toggler {
  color: #ffffff;
}
#header3-2l H3 {
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  color: #c50a00;
}
#header3-2l SPAN {
  color: #000000;
  font-size: 16px;
}
#msg-box2-72 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-72 .mbr-article {
  color: #252525;
}
#msg-box2-72 .btn {
  font-size: 14px;
}
#features1-8f P {
  color: #000000;
}
#features1-8f B {
  color: #000000;
}
#contacts2-1j STRONG {
  color: #000000;
  font-size: 16px;
}
#contacts2-1j B {
  color: #000000;
}
#contacts2-1j P {
  color: #000000;
  font-size: 17px;
}
#contacts2-1j UL {
  font-size: 16px;
}
#social-buttons1-1k .mbr-header__text {
  font-size: 16px;
}












#dropdown-menu-1l .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1l .navbar-brand a {
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
}
#dropdown-menu-1l .nav .link,
#dropdown-menu-1l .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-1l .navbar,
#dropdown-menu-1l .dropdown-menu {
  background: #3d8eb9;
}
#dropdown-menu-1l .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1l .dropdown-menu a:hover,
#dropdown-menu-1l .dropdown-menu a:focus {
  background: #3882aa;
}
#dropdown-menu-1l .navbar-toggler {
  color: #ffffff;
}
#header3-7b P {
  color: #000000;
}
#header3-7b H3 {
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  color: #c50a00;
}
#header3-7b SPAN {
  font-size: 15px;
}
#features1-6i .mbr-section__col .mbr-header__text {
  text-align: center;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  color: #c50a00;
}
#features1-6i .mbr-section-title .mbr-header__text {
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  color: #2969b0;
  text-align: center;
}
#features1-6i P {
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
  color: #000000;
  text-align: left;
}
#features1-6i .mbr-header__subtext SPAN {
  font-size: 17px;
}
#msg-box4-6j .mbr-header__text {
  color: #ffffff;
}
#msg-box4-6j .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-6j .mbr-article {
  color: #ffffff;
}
#msg-box4-6j .mbr-article P {
  color: #000000;
}
#features1-7c P {
  color: #000000;
}
#contacts2-1o STRONG {
  color: #000000;
  font-size: 16px;
}
#contacts2-1o B {
  color: #000000;
}
#contacts2-1o P {
  color: #000000;
  font-size: 17px;
}
#contacts2-1o UL {
  font-size: 16px;
}
#features1-7f .mbr-section__col .mbr-header__text {
  text-align: center;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  color: #c50a00;
}
#features1-7f .mbr-section-title .mbr-header__text {
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  color: #2969b0;
  text-align: center;
}
#features1-7f P {
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
  color: #000000;
  text-align: left;
}
#features1-7f .mbr-header__subtext SPAN {
  font-size: 17px;
}
#features1-7g P {
  color: #000000;
}
#msg-box4-7x .mbr-header__text {
  color: #ffffff;
}
#msg-box4-7x .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-7x .mbr-article {
  color: #ffffff;
}
#msg-box4-7x .mbr-article P {
  color: #000000;
  text-align: left;
}
#features1-6d .mbr-section__col .mbr-header__text {
  text-align: center;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  color: #c50a00;
}
#features1-6d .mbr-section-title .mbr-header__text {
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  color: #2969b0;
  text-align: center;
}
#features1-6d P {
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
  color: #000000;
  text-align: left;
}
#msg-box4-6h .mbr-header__text {
  color: #2969b0;
  font-size: 18px;
}
#msg-box4-6h .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-6h .mbr-article {
  color: #ffffff;
}
#msg-box4-6h .mbr-article P {
  color: #000000;
}
#msg-box4-6g .mbr-header__text {
  color: #ffffff;
}
#msg-box4-6g .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-6g .mbr-article {
  color: #ffffff;
}
#msg-box4-6g .mbr-article P {
  color: #000000;
}
#msg-box2-73 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-73 .mbr-article {
  color: #252525;
}
#msg-box2-73 .btn {
  font-size: 14px;
}
#features1-7z P {
  color: #000000;
}
#features1-7z B {
  color: #000000;
}
#social-buttons1-1p .mbr-header__text {
  font-size: 16px;
}



#dropdown-menu-3c .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-3c .navbar-brand a {
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
}
#dropdown-menu-3c .nav .link,
#dropdown-menu-3c .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-3c .navbar,
#dropdown-menu-3c .dropdown-menu {
  background: #3d8eb9;
}
#dropdown-menu-3c .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-3c .dropdown-menu a:hover,
#dropdown-menu-3c .dropdown-menu a:focus {
  background: #3882aa;
}
#dropdown-menu-3c .navbar-toggler {
  color: #ffffff;
}
#header3-3d H3 {
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  color: #c50a00;
}
#header3-3d SPAN {
  color: #000000;
  font-size: 16px;
}
#features1-8o P {
  color: #000000;
}
#features1-8o B {
  color: #000000;
}
#contacts2-3e STRONG {
  color: #000000;
  font-size: 16px;
}
#contacts2-3e B {
  color: #000000;
}
#contacts2-3e P {
  color: #000000;
  font-size: 17px;
}
#contacts2-3e UL {
  font-size: 16px;
}
#social-buttons1-3f .mbr-header__text {
  font-size: 16px;
}










#dropdown-menu-3n .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-3n .navbar-brand a {
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
}
#dropdown-menu-3n .nav .link,
#dropdown-menu-3n .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-3n .navbar,
#dropdown-menu-3n .dropdown-menu {
  background: #3d8eb9;
}
#dropdown-menu-3n .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-3n .dropdown-menu a:hover,
#dropdown-menu-3n .dropdown-menu a:focus {
  background: #3882aa;
}
#dropdown-menu-3n .navbar-toggler {
  color: #ffffff;
}
#header3-3o H3 {
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  color: #c50a00;
}
#header3-3o SPAN {
  color: #000000;
}
#header3-3o P {
  color: #000000;
  font-size: 16px;
}
#header3-3r H3 {
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  color: #2969b0;
}
#msg-box5-3w .mbr-header__text {
  color: #c50a00;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
}
#msg-box5-3w .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-3w .mbr-article {
  color: #ffffff;
}
#msg-box5-3w .mbr-article P {
  color: #000000;
  font-size: 16px;
}
#msg-box5-42 .mbr-header__text {
  color: #c50a00;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
}
#msg-box5-42 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-42 .mbr-article {
  color: #ffffff;
}
#msg-box5-42 .mbr-article P {
  color: #000000;
  font-size: 16px;
}
#msg-box5-43 .mbr-header__text {
  color: #b8312f;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
}
#msg-box5-43 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-43 .mbr-article {
  color: #ffffff;
}
#msg-box5-43 .mbr-article P {
  color: #000000;
  font-size: 16px;
}
#header3-46 H3 {
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  color: #2969b0;
}
#msg-box5-47 .mbr-header__text {
  color: #c50a00;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
}
#msg-box5-47 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-47 .mbr-article {
  color: #ffffff;
}
#msg-box5-47 .mbr-article P {
  color: #000000;
  font-size: 16px;
}
#msg-box5-49 .mbr-header__text {
  color: #c50a00;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
}
#msg-box5-49 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-49 .mbr-article {
  color: #ffffff;
}
#msg-box5-49 .mbr-article P {
  color: #000000;
  font-size: 16px;
}
#msg-box2-7a .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-7a .mbr-article {
  color: #252525;
}
#msg-box2-7a .btn {
  font-size: 14px;
}
#features1-8p P {
  color: #000000;
}
#features1-8p B {
  color: #000000;
}
#contacts2-3p STRONG {
  color: #000000;
  font-size: 16px;
}
#contacts2-3p B {
  color: #000000;
}
#contacts2-3p P {
  color: #000000;
  font-size: 17px;
}
#contacts2-3p UL {
  font-size: 16px;
}
#social-buttons1-3q .mbr-header__text {
  font-size: 16px;
}




#dropdown-menu-5n .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-5n .navbar-brand a {
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
}
#dropdown-menu-5n .nav .link,
#dropdown-menu-5n .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-5n .navbar,
#dropdown-menu-5n .dropdown-menu {
  background: #3d8eb9;
}
#dropdown-menu-5n .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-5n .dropdown-menu a:hover,
#dropdown-menu-5n .dropdown-menu a:focus {
  background: #3882aa;
}
#dropdown-menu-5n .navbar-toggler {
  color: #ffffff;
}
#header3-5o H3 {
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  color: #c50a00;
}
#header3-5o P {
  color: #000000;
}
#header3-5o SPAN {
  font-size: 16px;
}
#image2-5t SMALL {
  color: #c1c1c1;
}
#image2-6p SMALL {
  color: #c1c1c1;
}
#testimonials1-6m .mbr-section__header {
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  color: #2969b0;
}
#msg-box2-75 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-75 .mbr-article {
  color: #252525;
}
#msg-box2-75 .btn {
  font-size: 14px;
}
#features1-8j P {
  color: #000000;
}
#features1-8j B {
  color: #000000;
}
#contacts2-5u STRONG {
  color: #000000;
  font-size: 16px;
}
#contacts2-5u B {
  color: #000000;
}
#contacts2-5u P {
  color: #000000;
  font-size: 17px;
}
#contacts2-5u UL {
  font-size: 16px;
}
#social-buttons1-5v .mbr-header__text {
  font-size: 16px;
}



#dropdown-menu-62 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-62 .navbar-brand a {
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
}
#dropdown-menu-62 .nav .link,
#dropdown-menu-62 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-62 .navbar,
#dropdown-menu-62 .dropdown-menu {
  background: #3d8eb9;
}
#dropdown-menu-62 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-62 .dropdown-menu a:hover,
#dropdown-menu-62 .dropdown-menu a:focus {
  background: #3882aa;
}
#dropdown-menu-62 .navbar-toggler {
  color: #ffffff;
}
#header3-63 H3 {
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  color: #c50a00;
}
#header3-63 P {
  color: #000000;
  font-size: 16px;
}
#header3-63 SPAN {
  font-size: 16px;
}
#image2-64 SMALL {
  color: #c1c1c1;
}
#image2-6l SMALL {
  color: #c1c1c1;
}
#msg-box2-76 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-76 .mbr-article {
  color: #252525;
}
#msg-box2-76 .btn {
  font-size: 14px;
}
#features1-8k P {
  color: #000000;
}
#features1-8k B {
  color: #000000;
}
#contacts2-65 STRONG {
  color: #000000;
  font-size: 16px;
}
#contacts2-65 B {
  color: #000000;
}
#contacts2-65 P {
  color: #000000;
  font-size: 17px;
}
#contacts2-65 UL {
  font-size: 16px;
}
#social-buttons1-66 .mbr-header__text {
  font-size: 16px;
}
